.card {

    width: 400px;
    height: 100px;
    margin: 10px 10px 0px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;

}

.container {

    margin: auto;

}

.container :hover {

    background: #e8e8e8;
    cursor: pointer;
}